<p id="notice"><%= notice %></p>

<h1>Dashboard</h1>

Current balance:
<%= Exchange.current_balance %>
<br>
<p>
Create a new exchange:
<%= link_to 'New Exchange', new_exchange_path %>
</p>

<p>
View all exchanges:
<%= link_to 'All Exchanges', exchanges_path %>
</p>

<p>
Amount spent this month:

</p>
<p>

Most money spent at:
</p>
